/*---------- General Styling ----------*/

html, body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 900px;
    min-height: 80vh;
    
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*---------- HEADER ----------*/

header {
    text-align: left;
    margin-top: 5%;
}

/*---------- MAIN ----------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto 0 auto;

    padding-bottom: 10rem;
}

    /* Description */

    .desc {
        margin-bottom: 30px;
        padding: 0;

        font-size: 1rem;
        text-justify: inter-word;
        width: 100%;
    }


    /* User Inputs */

    .book-input {
        width: 100%;
        margin: 0 auto;
    }
    .input-group{
        display: flex;
        padding: 0;
        width: 100%;
        margin: 0 auto;
    }
    .submit-group {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: auto;
    }
    .submit-group:nth-child(1) {
        width: 40%;
    }
    .submit-group label {
        align-self: flex-start;
        padding: 3px;
    }
    .option-group {
        display: flex;
        width: fit-content;
    }
    .option-group select {
        font-size: 13px;
        margin-top: 5px;
        padding: 8px 0 9px 5px;
        background-color: white;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 3px;
        outline: none;
    }

    input {
        font-size: 13px;
        padding: 5px 15px;
        outline: none;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 3px;
        margin: 5px 0;      
        height: 25px;
    }
    input:hover,
    select:hover {
        box-shadow:  0 0 1px 1px rgb(226, 226, 226);
    }

    .submission-btn {
        margin: 10px 10px 10px 0;
        padding: 8px 20px;
        background-color: rgb(70, 204, 255);
        border: 1px solid rgb(65, 199, 250);
        border-radius: 3px;
        color: white;

        letter-spacing: 1px;
    }
    .submission-btn:hover{
        background-color: rgb(60, 194, 245);
        box-shadow: 0 0 1px 0.5px rgb(72, 206, 257);
    }
    .reset {
        background-color: rgb(201, 37, 165);
        border: 1px solid rgb(196, 32, 160);
    }
    .reset:hover{
        background-color: rgb(191, 27, 155);
        box-shadow: 0 0 1px 0.5px rgb(203, 39, 167);
    }

    /* library display */

    .books {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }

    .library {
        width: 100%;
        text-align: left;
        
        table-layout: fixed;
        border-collapse: collapse;
    }
    .library thead th {
        padding-bottom: 10px;
    }
    .library tbody tr {
        border-top: 1px solid rgb(211, 211, 211);
    }

    .library thead th:nth-child(1){
        width: 35%;
    }
    .library thead th:nth-child(2){
        width: 15%;
    }
    .library thead th:nth-child(3),
    .library tbody td:nth-child(3){
        width: 15%;
        text-align: center;
    }
    .library thead th:nth-child(4),
    .library tbody td:nth-child(4) {
        width: 15%;
        text-align: center;
    }
    .library thead th:nth-child(5) {
        width: 10%;
        text-align: center;
    }
    .library  td {
        padding: 25px 0;
    }

    button {
        font-size: 12px;
    }
    button:hover {
        cursor: pointer;
    }
    .status,
    .status:hover {
        width: 90px;
        padding: 10px 10px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 3px;
        background-color: white;
    }
    .status:hover {
        border: 1px solid rgb(212, 212, 212);
        border-radius: 3px;
        background-color: rgb(241, 241, 241);
        box-shadow: 0 0 1px 1px rgb(218, 218, 218);
    }
    .delete {
        width: fit-content;
        padding: 10px 10px;
        background-color: rgb(233, 45, 101);
        border: none;
        border-radius: 3px;
        color: white;
    }
    .delete:hover {
        background-color: rgb(213, 25, 81);
        box-shadow: 0 0 1px 1px rgb(243, 55, 111);
    }

/*---------- FOOTER ----------*/

footer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;
    
    font-size: 12px;
    font-weight: bold;
}
footer img {
    display: block;
    position: absolute;
    bottom: -5px;
    height: 24px;
    margin: 0 10px;
    border-radius: 50%;
}
footer img:hover {
    height: 26px;
    box-shadow: 0 0 30px lightgray;
}